@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

.deck-container { 
  font-family: 'Helvetica', 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1em;
  background: #fff; }
  .deck-container .slide {
    background: #fff; }
  .deck-container .slide-title {
    background: black; }
  .deck-container .slide-title h1 {
    font-family: 'Helvetica', 'Ubuntu', serif;
    font-weight: 400;
    color: #A9A9AB;
    text-transform: none; }
  .deck-container .slide-list h2 {
    font-size: 3.3em;
    border-bottom: 4px solid #A9A9AB;
    padding-bottom: .07em;
    margin-bottom: 1em; }
  .deck-container .slide-list h3 {
    font-size: 2em;
    color: #444444;
    margin-bottom: .1em; }
  .deck-container .slide-list ul {
    margin-left: 2em;
    list-style-type: square;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #A9A9AB; }
  .deck-container .slide-list li {
    padding-left: .5em; }
  .deck-container .slide-list p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: #444444; }
  .deck-container .slide-subhead h1 {
    font-size: 5em;
    position: static;
    margin: 0px;
    padding-top: 2em;
    padding-bottom: 0.5em;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -transform: none;
    -o-transform: none; }
  .deck-container .slide-subhead h2 {
    font-size: 2em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: .1em; }
  .deck-container .slide-subhead h3 {
    font-size: 4em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: static;
    padding-top: 2em;
    padding-bottom: 0.5em;
      }    
  .deck-container h1 {
    font-family: 'Helvetica', 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    font-size: 5em;
    line-height: .9em;
    text-transform: uppercase;
    padding-top: 7em;
    line-height: 1.2;
    color: #000; }
  .deck-container h2 {
    font-family:  'Ubuntu', serif;
    font-weight: 400;
    color: #4E4E52;
    border: none; }
  .deck-container h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;  }
  .deck-container .slide > pre {
    padding:10px;
    border-color: #ccc; }
  .deck-container code {
    color: #888; }
  .deck-container blockquote {
    font-size: 2em;
    font-style: italic;
    padding: 1em 2em;
    color: #000;
    border-left: 5px solid #A9A9AB; }
    .deck-container blockquote p {
      margin: 0; }
    .deck-container blockquote cite {
      font-size: .5em;
      font-style: normal;
      font-weight: bold;
      color: #888; }
  .deck-container ::-moz-selection {
    background: #4E4E52;
    color: #fff; }
  .deck-container ::selection {
    background: #4E4E52;
    color: #fff; }
  .deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    color: #4E4E52;
    text-decoration: none; }
  .deck-container a:hover, .deck-container a:focus {
    text-decoration: underline; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #A9A9AB;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #4E4E52;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current {
    background: #ddf; }



.csstransitions.csstransforms .deck-container .slide {
  -webkit-transition: opacity 500ms ease-in-out 0ms;
  -moz-transition: opacity 500ms ease-in-out 0ms;
  -ms-transition: opacity 500ms ease-in-out 0ms;
  -o-transition: opacity 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
  position: relative;
  left: 0;
  top: 0;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-after {
  opacity: 0;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-current {
  opacity: 1;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after {
  opacity: 0;
  pointer-events: none;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before .slide, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous .slide {
  visibility: visible;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-after {
  visibility: hidden;
}